body{
  background-color: beige;
}
header{
text-align: center;
}
#nav{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 5px;
  background-color: #F96F5D;
 
}
#nav a{
  margin-left: 10px;
  margin-right: 10px;
  border: solid 2px whitesmoke;
  padding: 5px;
}